Source: vyatta-upnp
Section: contrib/net
Priority: extra
Maintainer: Kiall Mac Innes <kiall@managedit.ie>
Build-Depends: debhelper (>= 5), autotools-dev
Standards-Version: 3.7.2

Package: vyatta-upnp
Architecture: all
Depends: miniupnpd (>= 1.8),
 vyatta-cfg (>= 0.15.33)
Description: Vyatta UPnP configuration templates and scripts
 Vyatta UPnP configuration templates and scripts.
