Source: vyatta-upnp
Section: contrib/net
Priority: extra
Maintainer: Kiall Mac Innes <kiall@managedit.ie>
Standards-Version: 3.9.6
Build-Depends: debhelper (>= 5), automake

Package: vyatta-upnp
Architecture: all
Depends: miniupnpd, vyatta-cfg
Description: Vyatta UPnP configuration templates and scripts
 Vyatta UPnP configuration templates and scripts.
